<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>

<head>
	<title>Untitled</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
        .w3-nhs,.w3-hover-blue:hover{color:#fff!important;background-color:#005EB8!important}
	</style>
</head>

<body>
    <h1>Hello World</h1>

    <div class="w3-row-padding">
      <div class="w3-third">
        <h2>London</h2>
        <p>London is the capital city of England.</p>
        <p>It is the most populous city in the United Kingdom,
        with a metropolitan area of over 13 million inhabitants.</p>
      </div>

      <div class="w3-third">
        <h2>Paris</h2>
        <p>Paris is the capital of France.</p>
        <p>The Paris area is one of the largest population centers in Europe,
        with more than 12 million inhabitants.</p>
      </div>

      <div class="w3-third">
        <h2>Tokyo</h2>
        <p>Tokyo is the capital of Japan.</p>
        <p>It is the center of the Greater Tokyo Area,
        and the most populous metropolitan area in the world.</p>
      </div>
    </div>


    <div class="w3-container w3-nhs">
      <p>My footer information</p>
    </div>

</body>

</html>
